.mensagem {
    color: black;
    background-color: rgb(245, 225, 225);
    text-align: center;
    border-radius: 10px;
    font-family: "Montserrat", "Trebuchet MS";
    font-weight: 500;
    font-size: 16px;
    max-width: 775px;
    width: 85%;
    padding: 5px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
}

body {
    background-color: rgb(190, 21, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    text-align: left;
    margin-top: 20px;
}

.titulo {
    text-align: center;
    color: white;
    font-family: "Montserrat", "Trebuchet MS";
    font-weight: 700;
    margin-top: 4%;
}

.galeria {
    margin-top: 5px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
    width: 85%;
    max-width: 5000px;
}

.galeria img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

#contador {
    font-weight: 600;
    font-size: 17px;
}

.galeria img {
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}

